doctype html
html
  head
    title FSE ChatRoom
    link(rel='stylesheet', type='text/css', href='chatroom.css')
    script(src='/socket.io/socket.io.js')
    script(src='http://code.jquery.com/jquery-1.11.1.js')
    script(src='chatroom.js')
  body
    div(style='margin-right:auto; margin-left:auto;')
      form(action='', onsubmit='return false')
        #login(style='text-align:center')
          | What do we call you?
          input#m1(style='text-align:center', autocomplete='off')
          input#loginButton(type='submit', value='Enter chatroom!', onclick="OnSubmit('fromLogin');")
        #logout(style='text-align:center')
          div(style='float:left')
            input(type='submit', value='Logout', onclick="OnSubmit('fromLogout');")
        #username(style='float:right')
        #chatroom
          p
          ul#messages
          input#m(autocomplete='off')
          input#sendButton(type='submit', value='Send!', onclick="OnSubmit('fromChatWindow');")
